.vs/
packages/
Chat.Api/bin/
Chat.Api/obj/
Chat.Server/bin/
Chat.Server/obj/
Chat.Tests/bin/
Chat.Tests/obj/
/Chat.Media/obj
/Chat.Media/bin/Debug/netcoreapp3.1
/Chat.Client/obj
/Chat.Client/bin/Debug/netcoreapp3.1
